.chatPage {
    height: 100%;
    min-height: calc(100vh - var(--nav-size));
    background-color: var(--color-background);
}

@media (min-width: 750px) {
    .chatPage {
        min-height: 100vh;
    }
}
