services:
  backend:
    build: ./backend
    container_name: sweatbud-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/sweatbud
      - MONGO_DB_NAME=sweatbud
      - NODE_ENV=development
      - JWT_SECRET=123456789
      - REFRESH_TOKEN_SECRET=987654321
      - PORT=5000
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: sweatbud-frontend
    restart: always
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]
    depends_on:
      - backend

  mongo:
    image: mongo:8.0
    container_name: sweatbud-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: