services:
  backend:
    build: ./backend
    container_name: sweatbud-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/sweatbud
      - PORT=5000
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: sweatbud-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

  mongo:
    image: mongo:6.0.14
    container_name: sweatbud-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: