.editProfilePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: var(--color-background);
}

.separator {
  width: 10%;
  border: solid 1px #ccc;
  margin: 1rem 0;
}

.infoSection {
  max-width: 500px;
}
  
.infoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}
  
.infoLabel {
  font-weight: bold;
}
  
.infoValue {
  color: #888;
}
  
.button {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.2s;
}
.button:hover {
  transform: scale(1.1);
}
.editBtn:hover {
  transform: none;
  text-decoration: underline;
}

.saveBtn {
  margin-right: 1rem;
}
.cancelBtn {
  color: var(--color-primary);
}
.cancelBtn * {
  color: inherit
}

.input {
  margin-top: 0.2rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 80%;
}

.sportsSelector {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0.5rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-style: italic;
}
.checkboxInput {
  /* width: 16px;
  height: 16px;
  margin: 0 0.5rem;
  accent-color: transparent; */
  display: none;
}
.checkboxLabel:has(.checkboxInput:checked) {
  font-style: normal;
  * {
    color: var(--color-primary);
  }
}