.profilePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profileHeader {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilePicture {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -130px;
    z-index: 1;
}

.profileContent {
    margin: -70px auto 0 auto;
    padding: calc(60px + 0.5rem) 2rem 0 2rem;
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 750px;
    min-height: 100vh;
}

.username {
    font-size: 1.8rem;
    font-weight: bold;
}

.userInfos {
    font-size: 1.1rem;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    max-width: 400px;
    flex-wrap: wrap;
}

.city {
    text-transform: capitalize;
}

.sports {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    color: var(--color-primary);
    font-size: 1.2rem;
}
.sports * {
    color: inherit;
}

.bio {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 500px;
}

@media (min-width: 750px) {
    .backgroundImage {
        display: none;
    }
    .profilePicture {
        margin-top: 80px;
    }
}