.chatView {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--nav-size));
    background-color: white;
}

.chatHeader {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color: var(--color-background);
    gap: 1rem;
    height: 80px;
    cursor: pointer;
}

.backButton {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--color-text);
}
.backButton * {
    color: inherit;
}

.headerInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerName {
    font-weight: bold;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.messagesList {
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1rem;
    background-color: #f5f5f5;
    height: 100%;
}

.messageItem {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.senderName {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

.messageBubble {
    padding: 0.8rem 1rem;
    border-radius: 20px;
    font-size: 0.95rem;
    line-height: 1.4;
}

.myMessage {
    align-self: flex-end;

    .messageBubble {
        background-color: var(--color-primary);
        color: var(--color-background);
        border-bottom-right-radius: 4px;
    }

    .senderName {
        text-align: right;
        margin-right: 0.5rem;
    }

    .date {
        text-align: left;
        margin-left: 0.5rem;
    }
}

.theirMessage  {
    align-self: flex-start;

    .messageBubble {
        background-color: white;
        border: 1px solid #ddd;
        border-bottom-left-radius: 4px;
    }

    .senderName {
        text-align: left;
        margin-left: 0.5rem;
    }

    .date {
        text-align: right;
        margin-right: 0.5rem;
    }
}

.inputArea {
    position: sticky;
    width: 100%;
    bottom: var(--nav-size);
    height: 70px;
    padding: 1rem;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-background);
}

.input {
    flex: 1;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    resize: none;
    outline: none;
    font-family: inherit;
    height: 45px;
}

.sendButton {
    background: none;
    color: var(--color-primary);
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.sendButton * {
    color: inherit;
}

.sendButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (min-width: 750px) {
    .chatView {
        height: 100vh;
    }
    
    .inputArea {
        bottom: 0;
    }
}