.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.conversationInfo {
    overflow: hidden;
    width: 100%;
    margin-left: 1rem;
}

.topRow, .bottomRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 1rem;
}

.date {
    font-size: 0.8rem;
    color: #aaa;
}

.bottomRow {
    margin-top: 0.3rem;
}

.lastMessage {
    color: #666;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unreadIndicator {    
    width: 12px;
    height: 12px;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.unreadDate {
    font-weight: bold;
    color: var(--color-primary);
}