.medias {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    height: 200px;
}
.medias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    padding: 2rem;
    max-width: 750px;
    margin: 0 auto;
    background-color: var(--color-background);
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.userInfos {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.userDetails {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: 700;
    font-size: 1.1rem;
}

.age {
    font-size: 0.9rem;
    color: #888;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.eventInfos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.icon {
    color: var(--color-primary);
    text-align: center;
}
.icon * {
    color: inherit;
}

.description {
    line-height: 1.5;
    color: var(--color-text);
    text-align: justify;
    white-space: pre-wrap;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 1rem; /* +1rem dans header */
    border-top: 1px solid #ddd;
}

.button {
    padding: 2% 12%;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    transition: 0.2s;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.button:hover:not(:disabled) {
    transform: scale(1.02);
}

.contactBtn {
    background: var(--color-background);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}
.contactBtn:hover:not(:disabled) {
    background: var(--color-primary);
    color: var(--color-background);
}

.joinBtn {
    background: var(--color-primary);
    color: var(--color-background);
}
.joinBtn:hover:not(:disabled) {
    background: var(--color-background);
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
}

.participants {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.attendeesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem 1rem;
    list-style: none;
    padding: 0;
}

.attendee {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.attendee:hover {
    background-color: #f9f9f9;
}

.attendeeAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.attendeeName {
    font-weight: 500;
}

.pastMessage {
    color: var(--color-primary);
    font-style: italic;
    margin: 1rem auto;
}


@media (min-width: 750px) {
    .medias {
        height: 250px;
    }
}