.homePage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage > div {
    width: 90%;
    max-width: 700px;
}

.filters {
    background-color: var(--color-background);
}
