.homePage {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    border-top-left-radius: 50% 60px;
    border-top-right-radius: 50% 60px;
    padding-top: 200px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;
}

.homePage > div {
    width: 100%;
    max-width: 700px;
}

.filters {
    margin-top: -215px;
}

.events {
    border-top: solid 2px #ccc;
    margin: 1rem;
}
