.homePage {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage > div {
    max-width: 700px;
    background-color: var(--color-background);
}
