.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.uiBtn {
    z-index: 1000;
    position: absolute;
    top: 1rem;
    width: 40px;
    height: 40px;
    background-color: var(--color-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.actionMenu {
    right: 1rem;
}

.backArrow {
    left: 1rem;
}

.uiBtn:hover {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.dropdownMenu {
    position: absolute;
    top: calc(2rem + 40px);
    right: 1rem;
    background-color: var(--color-background);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.button {
    background: none;
    border: none;
    padding: 1rem 1.5rem;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}
.button:hover {
    background-color: #f2f2f2;
}
.redBtn {
    color: var(--color-primary);
}
.redBtn * {
    color: inherit;
}
.redBtn:hover {
    background-color: #fff2f2;
}